@use "./partials/variables" as *;

@import "bootstrap/scss/bootstrap";
@import "/node_modules/flag-icons/css/flag-icons.min.css";
@import "node_modules/@fortawesome/fontawesome-free/css/all.css";

img {
    max-width: 100%;
}

li {
    // list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}
